@model SimpleMVCAppTest.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm())
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Choose the country</p>
        @Html.DropDownListFor(model => model.countries,
                            new SelectList(Model.countries, "IsoCode", "Name"),
                            "Select country",
                            new { @class = "form-control", @id = "ddlCountry" })

        <p>Choose animal</p>
        @Html.DropDownListFor(model => model.animals,
                            new SelectList(String.Empty, "ScientificName", "ScientificName"),
                            "Select animal",
                            new { @class = "form-control", @id = "ddlAnimal" })

        <br />

        <div class="progressDiv" style="display:none">
            <div>
                <p>Loading data...</p>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#ddlCountry").change(function () {
            $(".progressDiv").toggle();
            $("#ddlAnimal").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAnimalByCountry")',
                dataType: 'json',
                data: { country: $("#ddlCountry").val() },
                success: function (animals) {
                    $(".progressDiv").toggle();
                    $("#ddlAnimal").append('<option>Select Animal</option>');
                    $.each(animals, function (i, animal) {
                        $("#ddlAnimal").append('<option>' + animal.scientificName + '</option>');
                    });
                },
                error: function (ex) {
                    $(".progressDiv").toggle();
                    alert('Failed to retrieve animals.' + ex);
                }
            });
            return false;
        })
    });
</script>
